@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.gradient-bg-welcome {
  background-color:#3F45CE;
  background-image: 
    radial-gradient(at 0% 0%, #06245c 0, transparent 100%), 
    radial-gradient(at 50% 0%, #0aefff9f 0, transparent 100%), 
    radial-gradient(at 100% 0%, #06e6ff 0, transparent 100%);
}

.gradient-bg-services {
  background-color:#6741ff;
  background-image: 
  radial-gradient(at 0% 0%, #092d6e 0, transparent 100%), 
  radial-gradient(at 50% 0%, #008ef4bd 0, transparent 100%), 
  radial-gradient(at 100% 0%, #05bdd1 0, transparent 100%);
}

.gradient-bg-transactions {
  background-color: #6741ff;
  background-image: 
  radial-gradient(at 0% 0%, #0b3583 0, transparent 100%), 
  radial-gradient(at 50% 0%, #008ef4bd 0, transparent 100%), 
  radial-gradient(at 100% 0%, #05bdd1 0, transparent 100%);
}

.gradient-bg-footer {
  background-color: #1c1242;
  background-image: 
  radial-gradient(at 0% 0%, #4b2adbdc 0, transparent 100%), 
  radial-gradient(at 50% 0%, #008ef4bd 0, transparent 100%), 
  radial-gradient(at 100% 0%, #05bdd1 0, transparent 100%);
}

.blue-glassmorphism {
  background: rgba(7, 12, 8, 0.39);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(36, 46, 94, 0.63);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(51, 67, 90, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: #182c4e33;
  border-radius: 16px;
  box-shadow: 0 4px 50px rgba(72, 100, 238, 0.575);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(33, 64, 131, 0.027);
}

.eth-card {
  box-shadow: 0 4px 30px rgba(36, 46, 94, 0.63);
  background-color:#D65DB1;
  background-image: 
    radial-gradient(at 83% 67%, #d69e54 0, transparent 48%), 
    radial-gradient(at 67% 20%, rgb(243, 229, 99) 0, transparent 65%), 
    radial-gradient(at 88% 35%, rgb(83, 131, 243) 0, transparent 50%), 
    radial-gradient(at 31% 91%, rgb(147, 94, 212) 0, transparent 50%), 
    radial-gradient(at 27% 71%, rgb(58, 157, 238) 0, transparent 39%), 
    radial-gradient(at 74% 89%, rgb(255, 139, 23) 0, transparent 65%), 
    radial-gradient(at 53% 75%, rgb(87, 235, 255) 0, transparent 55%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(214, 214, 214) 0, transparent 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;